<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Superball!</title>
    <meta name="author" content="Chris Andrews"/>
    <!--<link rel="stylesheet" href="./pub/example.css"/>-->
</head>
<body>
    <h1>{{title}}</h1>
    <div>
    </div>
</body>
</html>