<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Superball!</title>
    <meta name="author" content="Chris Andrews"/>
    <!--<link rel="stylesheet" href="./pub/example.css"/>-->
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
    {{#each links}}
        <li><a href="{{this.href}}">{{this.title}}</a>
    {{/each}}
    </ul>
</body>
</html>